@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "A Little Bit About Me";
}



<!--Images and header-->
<h1>Holly Lambert</h1>
<div>
    <div class="column">
        <img src="images/image000000.JPG" style="width: 100%" />
    </div>
    <div class="column">
        <img src="images/IMG-0044.jpg" style="width: 100%" />
    </div>
    <div class="column">
        <img src="images/DC0A2347-87D7-4CE4-8BB6-113ABAC6B50B.JPG" style="width: 100%" />
    </div>
</div>
<br />
<br />
<!--Paragraph about 413-->
<p class="content">
    As a student in 413 Enterprise Application Development, I have a goal in mind for what I hope to get
    out of the course. I am looking to build a strong foundation in web development,
    with a focus on creating dynamic and interactive applications using Microsoft technologies. I am
    also interested in learning how to use the C# programming language to create efficient and effective
    code, and how to work with databases and other back-end systems to store and retrieve data. Ultimately,
    I hope to leave the class with a deep understanding of ASP.NET and C#, and the skills necessary to
    put these technologies to use in my future projects and career.
</p>
<br />
<p>My Top 3 Picks: </p>
<ol>
    <li>Database Management</li>
    <li>Project Management</li>
    <li>Software Development</li>
</ol>



